p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14pt;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    background: #ffffff;
    color: #222222;
}
.header, .footer {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}
.content {
    box-sizing: border-box;
    padding-top: 20px;
    width: 100%;
}
.header, .footer {
    background: #002a3d;
    color: #ffffff;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex-grow: 1;
}
A {
    text-decoration: none;
}
A:visited {
    text-decoration: none;
}
A:active {
    text-decoration: none;
}


#center{
    box-sizing: border-box;
    width:100%;
    margin: 0;
    background: #002a3d;
    left: 0;
}
#container {
    box-sizing: border-box;
    width:100%;
    background: #ffffff;
    left: 0;
    max-height: 100%;
}
#container2 {
    box-sizing: border-box;
    width:100%;
    background: #ffffff;
    height: 100%;
    padding-left: 10%;
}
#textbody{
    box-sizing: border-box;
    width:90%;
    height: 100%;
    background: #ffffff;
    min-height:100%;
}

#buttonR {
    display:block;
    position:fixed;
    right:0;
    top:50%;
    z-index: 99999;
}
#buttonL {
    display:block;
    position:fixed;
    left:0;
    top:50%;
    z-index: 99999;
}


